# GUI framework
PyQt6>=6.6.1

# Barcode and image generation
python-barcode>=0.15.1
pillow>=10.3.0

# PDF label generator
reportlab>=4.2.0

# Data management and Excel/CSV import/export
pandas>=2.2.2
openpyxl>=3.1.2

# Core web framework
Flask==3.0.3
Flask-Login==0.6.3

# Utility libraries
gunicorn==22.0.0
pathlib==1.0.1

# Optional (used by Pandas Excel export)
XlsxWriter==3.2.0
